.deadline_header {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid lightgray;
}

.deadline_buttons {
  display: flex;
  flex-direction: row;
}

.deadline_buttons button {
  margin: 10px;
  width: 135px;
}

.deadline_input {
  margin: 10px;
  width: 250px;
  padding: 5px;
}